<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Home{% endblock title %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="d-flex">
			<h2><a href="{% url 'home' %}">Social Network</a></h2>
			{% if request.user.is_authenticated %}
				<h5 class="ml-2">Hello, {{request.user.username}}</h5>
				<h5 class="ml-2"><a href="{% url 'account_logout' %}">Logout</a></h5>
				<h5 class="ml-2"><a href="{% url 'account_change_password' %}">Change Password</a></h5>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>

	<script type="text/javascript">
		{% block domready %}
		{% endblock domready %}
	</script>
</body>
</html>